<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestGit.Properties.Settings.ACQUISITION_MATCHING_MAINConnectionString"
            connectionString="Data Source=LON1847\MSSQLSERVERV08_1;Initial Catalog=ACQUISITION_MATCHING_MAIN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>